@page "/login"
@layout HeadlessLayout

<PageTitle>Dima - Acesse sua conta</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img 
                src="imgs/dima.png"
                alt="Dima - Controle Financeiro"
                width="200"/>
            </div>

            <MudForm 
                @ref="_form" Model="_model" Validation="@(ValidatorsUtils.GetValidatorFormCallback(_validator))"
                Spacing="4">
                
                <MudTextField 
                    @bind-Value="_model.Email" T="string" For="@(() => _model.Email)" 
                    Label="Email" InputType="InputType.Email" Immediate="true" />

                <MudTextField 
                    @bind-Value="_model.Password" T="string" For="@(() => _model.Password)"
                    Label="Password" InputType="_passwordType" Immediate="true"
                    Adornment="Adornment.End" AdornmentIcon="@_passwordIcon" OnAdornmentClick="OnPasswordVisibilityClick" />

                <MudStack Class="mt-4" Justify="Justify.SpaceBetween" Row="true">
                    <MudButton
                        OnClick="Submit"
                        DropShadow="false" Variant="Variant.Filled" Color="Color.Primary">Entrar</MudButton>

                    <MudButton
                        Href="/register"
                        DropShadow="false" Variant="Variant.Text" Color="Color.Secondary">QUERO ME CADASTRAR</MudButton>
                </MudStack>

            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>